# =========== .env (sandbox) =========== #

# Copy all prod variables, and these 4 replace the old supabase variables
# I put actual values for URLs here because it seems the 'supabase start' URLs don't work for edge functions, it needs a docker URL
URL=http://host.docker.internal:54321
ANON_KEY=          # 'supabase start'
SERVICE_ROLE_KEY=  # 'supabase start'
TRANSACTION_POOLER=postgresql://postgres:postgres@host.docker.internal:54322/postgres?sslmode=disable