## ============== .env.local ============== ##

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

NEXT_PUBLIC_APP_URL=

# Used for direct database connections in edge functions, see Supabase's 'connect' section for key structure
TRANSACTION_POOLER=

## =========== .env.test.local =========== ##

# Copy all prod variables, and these 3 replace the old supabase variables
# 'supabase start' in CLI to find exact values
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
TRANSACTION_POOLER=